* {
    box-sizing: border-box;
}
body {
	background-color: #aaa;
	margin: 50px;
}
img {
	margin-top: 10px;
	margin-bottom: 10px;
}
header {
	box-shadow: 0 3px 30px 15px #000000;
	padding: 10px;
}
section {
	box-shadow: 0 3px 30px 15px #000000;
}
footer {
	box-shadow: 0 3px 30px 15px #000000;
	text-align: center;
}
a:link {
    color: #423461;
	text-decoration: none;
}
a:visited {
    color: #000000;
	text-decoration: none;

}
a:hover {
    color: #FD8505;
	text-decoration: underline;
}
a:active {
    color: #0505FD;
	text-decoration: none;
}


